body {
  font-family: "Lato", sans-serif;
  font-size: smaller;
}

#box-user-manag {
  background-color: rgb(44, 139, 216);
  color: white;
  margin-left: 5px;
  margin-top: 10px;
  width: 1500px;
  height: 75px;
  padding-top: 20px;
  border-radius: 5px;
}

td span {
  vertical-align: -10px;
}

#div-name td text {
  background-color: yellow;
}

h1 {
  display: inline-block;
  padding-top: 4px;
  margin-top: 8px;
  font-weight: 600;
}

thead {
  margin-bottom: 10px;
  font-size: medium;
}

tr th {
  height: 0px;
  padding-bottom: 20px;
}

.txtButton {
  vertical-align: 4px;
  padding-left: 7px;
}

.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  margin-top: 6px;
}

#botao-add-user {
  float: right;
  margin-right: 25px;
  margin-left: 12px;
  display: inline;
  width: 150px;
  height: 32px;
  background-color: white;
  border: none;
  color: rgb(45, 145, 226);
  padding-left: 0px;
}

#botao-export {
  float: right;
  display: inline;
  width: 150px;
  height: 32px;
  background-color: white;
  border: none;
  color: rgb(45, 145, 226);
}
.botton {
  display: inline;
  color: rgb(45, 145, 226);
}
#showing-entries {
  margin-left: 25px;
}

#pagina {
  margin-left: 1030px;
  word-spacing: 13px;
}

tbody tr {
  border-top: 1px solid rgb(17, 194, 185);
}

td {
  height: 75px;
}
table,
th,
td {
  text-align: left;
  border-collapse: collapse;
  color: rgb(45, 145, 226);
}
table {
  margin-left: 40px;
  margin-right: 40px;
}
#tabela-dinamica {
  margin-top: 25px;
}
#span-azul {
  background-color: rgb(45, 145, 226);
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 10px;
  padding-left: 10px;
}
#span-user {
  font-weight: normal;
}
#user-manag {
  margin-left: 20px;
  font-size: initial;
}

#tabela-dinamica img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

table tbody tr div {
  width: 240px;
}

#div-name img {
  float: left;
  margin-right: 10px;
}

#div-name {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
}

#td-action img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

#td-statusImg img {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  float: left;
}

#a-tag {
  cursor: pointer;
}

#edit-link {
  cursor: pointer;
}

.idClass {
  width: 90px;
}
.nameClass {
  width: 350px;
}
.dataClass {
  width: 300px;
}
.roleClass {
  width: 300px;
}
.statusClass {
  width: 290px;
}
.actionClass {
  width: 90px;
}
